body {
    font-family: 'Lato', sans-serif;
}

.sidebar ul li ul {
    margin-left: 6px;
}

.markdown-section {
    max-width: 960px;
    padding: 0;
}

.markdown-section a {
    text-decoration: none;
}

.markdown-section p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    font-weight: 400;
    line-height: 30px;
}

.markdown-section blockquote p {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #285480;
}

.markdown-section ul {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    list-style: square;
    line-height: 1.6rem;
}

.markdown-section ul small {
    font-weight: 300;
    letter-spacing: -1px;
    color: #000;
}